header {
  width: 1300px;
  margin: -10px auto;
  border-top: 5px solid black;
  line-height: 0.2;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  align-items: center;
}

img {
  width: 1300px;
}
  
header text {
  position: absolute;
  margin-left: 290px;
  margin-top: 110px;
}

header h2 {
  font-size: 36px;
}

header h1 {
  font-size: 72px;
}

h1, h2 {
  font-family: 'Abril Fatface', cursive;
  color: #222;
  font-weight: normal;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  color: #222;
  margin-top: 60px;
  margin-bottom: 60px;
  letter-spacing: 1px;
}

h4 {
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
  font-size: 25px;
  margin-top: 35px;
  margin-bottom: 0px;
}

h5 {
  font-family: 'Merriweather', serif;
  color: #222;
  margin: 7px 0;
  font-size: 16px;
  line-height: 1;
}

.sum p {
  font-size: 20px;
  color: #222;
  line-height: 1.6;
}

.sum li {
  font-size: 20px;
  color: #222;
  line-height: 1.6;
}

p, li {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  color: #222;
  line-height: 1.6;
}

ul {
  list-style-type: square;
  margin-bottom: 40px;
}

main {
  width: 785px;
  margin: 40px auto;
}

blockquote {
  background: #444444;
  margin: 0 -50px;
  padding: 10px;
  display: flex;
  position: relative;
  padding-left: 50px;
  width: 800px;
}

blockquote h2 {
  color: white;
  font-size: 52px;
}

blockquote h2::before {
  position: absolute;
  content: '“';
  font-size: 140px;
  margin: -88px -50px;
}

.last {
  border-top: 4px solid black;
  padding-top: 60px;
}